// Vars
:root {
  --primary-color: #3e9cdc;
  --primary-color-dark: #286690;

  --white-color: #fff;
  --black-color: #000;
  --gray-color: #2a2b30;
  --gray-color-light: #bbb;
  --gray-color-lightest: #c4c4c4;

  --header-bg-color: rgba(16, 16, 29, 0.9);
  --footer-bg-color: #3d4050;
  --bg-color: #272733;
  --border-color: #6F6D7B;
  --icon-link-color: #C3C3C3;

  --text-color: var(--white-color);
  --text-color-secondary: var(--black-color);

  --container-width: 1170px;
  --container-padding-x: 15px;

  --font-primary: "Lato", sans-serif;
}
// Reset and base styles
* {
  padding: 0px;
  margin: 0px;
  border: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}
a:active {
  transform: scale(.98);
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}
ul,
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
img,
svg {
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}
input::-ms-clear {
  display: none;
}
button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}
input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
label {
  cursor: pointer;
}
legend {
  display: block;
}

// Fonts
@font-face {
  font-family: "Lato";
  src: url("../font/Lato/Lato-Regular.woff2") format("woff2"),
    url("../font/Lato/Lato-Regular.woff") format("woff"),
    url("../font/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../font/Lato/Lato-Black.woff2") format("woff2"),
    url("../font/Lato/Lato-Black.woff") format("woff"),
    url("../font/Lato/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../font/Lato/Lato-Bold.woff2") format("woff2"),
    url("../font/Lato/Lato-Bold.woff") format("woff"),
    url("../font/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Base
html,
body {
  min-height: 100vh;
  scroll-behavior: smooth;
}
html {
  font-size: 100%;
}
body {
  color: var(--text-color);
  background-color: var(--bg-color);
  font-weight: 400;
  font-family: var(--font-primary);
}

// Utils
.accent-text {
  color: var(--primary-color);
}
.bold-text {
  font-weight: 700;
}
.icon-link {
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: .8125rem;
  color: var(--icon-link-color);
  transition: .2s;
  &__icon {
    max-width: 1.25rem;
    aspect-ratio: 1 / 1;
  }
  @media  (any-hover: hover) {
    &:hover {
      color: var(--primary-color);
    }
  }
}
.no-scroll {
  overflow: hidden;
  @media screen and (min-width: 769px) {
    overflow: auto;
  }
}
// Typography
h2 {
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 700;
  @media screen and (max-width: 768px) {
      font-size: 1.5rem;
  }
}

// Layout
.layout {
  display: flex;
  flex-direction: column;
}
.header {
  width: 100%;
  padding: 2rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: var(--header-bg-color);
  transition: .2s;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
  }
  &.on-scroll {
    background: var(--footer-bg-color);
  }
  @media screen and (max-width: 768px) {
    padding: 1.5rem 0;
    &__nav {
      display: none;
    }
  }
}
.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
.container {
  width: 100%;
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--container-padding-x);
  @media screen and (max-width: 992px) {
    max-width: 900px;
  }
  @media screen and (max-width: 768px) {
    max-width: 100%;
  }
}

// Sections
.hero {
  display: grid;
  align-items: center;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  max-height: 750px;

  &__media,
  &__inner {
    height: 100%;
    grid-area: 1 / 1;
  }

  &__bg {
    width: 100%;
    height: 105%;
    display: block;
    object-fit: cover;
  }

  &__inner {
    z-index: 1;
    align-self: center;
    padding-top: 10.5rem;
    padding-bottom: 6.25rem;
  }
  &__title {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__content {
    max-width: 780px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--text-color-secondary);
  }
  &__subtitle {
    margin-bottom: 10px;
  }
  &__list-item {
    list-style-type: '- ';
    margin-left: 1rem;
  }
  &__list-item:not(:last-child) {
    margin-bottom: 5px;
  }
  &__text {
    font-size: 1.25rem;
  }
  &__actions {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  @media screen and (max-width: 1024px) {
    min-height: 0;
    height: 100vh;
    max-height: 600px;
    &__title {
        font-size: 2rem;
    }
    &__text {
        font-size: 1rem;
    }
    &__actions {
        gap: 1rem;
    }
  }
  @media screen and (max-width: 768px) {
    overflow-y: hidden;
    &__title {
        font-size: 1.5rem;
    }
    &__content {
        width: auto;
        gap: 1rem;
    }
    &__inner {
        padding-top: 7rem;
        padding-bottom: 3rem;
    }
  } 
  @media screen and (max-width: 576px)  {

    &__inner {
      padding-top: 8rem;
    }
    &__bg {
      object-position: 0% 80%;
    }
  }
  @media screen and (min-width: 1441px) {
      min-height: 0;
      height: 100vh;
      max-height: 800px;
      &__content {
        justify-content: flex-start;
        gap: 4rem;
      }
  }
}
.order {
  padding:  7.5rem 0;
  background-image: url('../img/decor-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  &__text {
    text-align: center;
    margin-bottom: 5rem;
  }
  &__title {
    margin-bottom: 2rem;
  }
  &__desc {
     color: var(--gray-color-light);
  }
  &__steps {
    margin-bottom: 5rem;
  }
 
  @media screen and (max-width: 768px) {
     &__title {
      margin-bottom: 1rem;
    }
    &__text {
      text-align: center;
      margin-bottom: 3rem;
    }
    background-size: 400%;
  }
}
.steps {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  &__item {
    flex: 1 1 209px;
  }
  @media screen and (max-width: 700px) {
    flex-direction: column;
    &__item {
      flex: 1 1 140px;
    }
  }
}


// Components
.nav {
  display: flex;
  align-items: center;
  gap: 3.75rem;
  &__link {
    font-size: .8125rem;
    text-transform: uppercase;
    transition: 0.2s;
  }
  &__link--active {
    color: var(--primary-color);
  }
  &--col {
    flex-direction: column;
    align-items: flex-start;
  }
  @media (any-hover: hover) {
    &__link:hover {
      color: var(--primary-color);
    }
  }
  @media screen and (max-width: 800px) {
    gap: 2rem;
  }
}
.btn {
    min-width: 11.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: .938rem 2rem;
    font-size: .8125rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--text-color);
    border-radius: 4px;
    border: 1px solid var(--white-color);
    background: var(--primary-color);
    transition: .2s;
    &--white {
        background: var(--white-color);
        border: 1px solid var(--border-color);
        color: var(--gray-color);
    }
    &--border {
      border-color: var(--primary-color);
      border-width: 2px;
    }
    @media screen and (max-width: 768px) {
        min-width: auto;
        padding: .938rem 1.5rem;
    }
    &:active {
      transform: scale(.99);
    }
    @media (any-hover: hover) {
      &:hover {
        background: var(--primary-color-dark);
      }
      &--white:hover {
        background: #ebebeb;
      }
    }
}
.step {
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  &:not(:last-child):after {
    content: '';
    position: absolute;
    top: 30%;
    left: 50%;
    width: calc(100% + 40px);
    height: 6px;
    z-index: -1;
    background-image: url("data:image/svg+xml,\
      <svg xmlns='http://www.w3.org/2000/svg' width='25' height='6'>\
        <circle cx='10' cy='3' r='3' fill='%23c4c4c4'/>\
      </svg>");
    background-repeat: repeat-x;
    background-position: center;
    @media  screen and (max-width: 1075px) {
      background-image: url("data:image/svg+xml,\
      <svg xmlns='http://www.w3.org/2000/svg' width='21' height='6'>\
        <circle cx='6' cy='3' r='3' fill='%23c4c4c4'/>\
      </svg>");
    }
    @media  screen and (max-width: 850px) {
      top: 25%;
    }
    @media screen and (max-width: 700px) {
      left: 50%;                
      top: 75%;  
      width: 6px;               
      height: 100%;
      transform: translateX(-50%);
      background-repeat: repeat-y;
      background-position: center;
      background-image: url("data:image/svg+xml,\
      <svg xmlns='http://www.w3.org/2000/svg' width='12' height='20'>\
        <circle cx='6' cy='15' r='3' fill='%23c4c4c4'/>\
      </svg>");
    }
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: var(--primary-color);
    border: 5px solid var(--primary-color-dark);
    margin-bottom: 1.25rem;
  }
  &__img {
    max-width: 60%;
    height: auto;
  }
  @media screen and (max-width: 768px) {
    &__title {
      font-size: .875rem;
    }
    &__icon {
      max-width: 70px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: .75rem;
    }
  }
  @media screen and (max-width: 700px) {
    &__icon {
      max-width: 80px;
    }
  }
}
.logo {
  display: inline-block;
  line-height: 0;
  @media screen and (max-width: 768px) {
    &__img {
      max-width: 150px;
    }
  }
}
.burger {
  display: none;
  width: 1.5rem;
  height: 1.2rem;
  position: relative;
  &__line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--white-color);
    transition: .1s;
    transform-origin: center;
  }
  &__line--top {
    top: 0;
  }
  &__line--middle {
    top: 50%;
    transform: translateY(-50%);
  }
  &__line--bottom {
    bottom: 0;
  }
  &.opened &__line--middle {
    opacity: 0;
  }
  &.opened &__line--top {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  &.opened &__line--bottom {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
  }
  @media screen and (max-width: 768px) {
    display: block;
  }
}
.mobile-menu {
  display: block;
  width: 100%;
  height: 100%;
  background: var(--header-bg-color);
  padding: 2rem;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 90;
  transform: translateX(-100%);
  transition: .2s;
  margin-top: 67px;
  &.show {
    transform: translateX(0);
  }
  @media screen and (min-width: 769px) {
    display: none;
  }
}

// Form
.order-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  .range-field {
    grid-column: span 2;
  }

  &__submit {
    grid-column: 1 / -1;  
    justify-self: center;
    width: clamp(200px, 33%, 380px);
  }
  @media (max-width: 1150px) {
      gap: .75rem;
  }
  @media screen and (max-width: 1100px) {
      gap: 2rem;
      max-width: 768px;
      margin-left: auto;  
      margin-right: auto;
      grid-template-columns: 1fr;
      .range-field, .text-field, .select-field {
        grid-column: 1 / -1;
      }
      &__submit {
        width: 100%;
      }
  }
}
.select-field {
  &__input {
    width: 100%;
    display: block;
    padding: .75rem .5rem;
    color: #272733;
    background: rgba(255, 255, 255, .85);
    border: 1px solid var(--white-color);
    border-radius: 4px;
    transition: .1s;
  }
}
.text-field {
  display: inline-block;
  width: 100%;
  padding: .75rem .5rem;
  color: #272733;
  background: rgba(255, 255, 255, .85);
  border: 1px solid var(--white-color);
  border-radius: 4px;
  transition: .1s;
  &::placeholder {
    color: #272733;
  }
  &:focus {
    border-color: var(--primary-color);
  }
  &:active {
    transform: scale(.995);
  }
}
.range-field {
  &__input {
    width: 100%;
  }
  &__label-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: .5rem;
    font-size: 1.125rem;
  }
   &__input::-webkit-slider-runnable-track {
      height: 8px;
      background: rgba(255, 255, 255, .7);
      border-radius: 4px;
    }
    &__input::-moz-range-track {
      height: 8px;
      background: rgba(255, 255, 255, .7);
      border-radius: 4px;
    }
    &__input[type=range] {
      -webkit-appearance: none;
      appearance: none;
    }
    &__input::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 22px;
      width: 22px;
      border-radius: 50%;
      margin-top: -8px;
      background: var(--primary-color);
      border: 3px solid var(--primary-color-dark);
    }
    &__input::-moz-range-thumb {
      height: 22px;
      width: 22px;
      border-radius: 50%;
      background: var(--primary-color);
      border: 3px solid var(--primary-color-dark);
    }
}
.file-field {
  &__label {
    width: 100%;
  }
  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
  }
}
// Form

.footer {
  background: var(--footer-bg-color);
  padding: 2rem 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__copyright {
    font-size: .8125rem;
  }
  &__item {
    display: flex;
    position: relative;
  }
  &__item:not(:last-child) {
    padding-right: 3.5vw;
    @media screen and (max-width: 1115px) {
      padding-right: 0;
    }
  }
  &__item:not(:last-child):after {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    background: var(--icon-link-color);
    transform: translate(50%, -5%);
    position: absolute;
    top: 0;
    right: 0;
    @media screen and (max-width: 1115px) {
      display: none;
    }
  }

  @media screen and (max-width: 1024px) {
      &__inner {
        flex-direction: column-reverse;
        gap: 1.5rem;
      }
  }
  @media screen and (max-width: 1024px) {
     &__copyright {
      justify-content: center;
      text-align: center;
     }
  }
}
.payments, .social {
  display: flex;
  align-items: center;
  gap: 2.375rem;
  @media screen and (max-width: 1024px) {
      gap: 1rem;
      justify-content: center;
  }
}
.payments {
  @media screen and (max-width: 576px) {
      flex-direction: column;
  }
}